
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:wght@100&display=swap');

body{
    background-color: rgb(192, 192, 192);
}

/* MENU */

.menu{
    background-color: #253243;
} 

h1{
    text-align: center;
    font-family: 'Alice', serif;
    color: white;
    font-size: 2.7em;

}

.subTitulo{
    line-height: 0;
    margin-left: 45%;
    color: #c98f40;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.logo{
    margin-left: 2%;
    margin-top: -2.5%;
    height: 4%;
    width: 4%;
}
/* iniciar sesion */

button a{
    text-decoration: none;
    color: white;
}

button:hover a{
    text-decoration: none;
    color:  #c98f40;
}

.iniciarS{
    font-size: 0.8em;
    margin-right: 2%;
    float: right;
    margin-top: -2.5%;
    height: 6%;
    width: 5%;
    border: solid black 1px;
    background-image: linear-gradient(#c98f40, rgb(231, 196, 131));
    border-radius: 20PX;
}

.iniciarS:hover{
    color: #c98f40;
    font-size: 0.8em;
    margin-right: 2%;
    float: right;
    margin-top: -2.5%;
    height: 6%;
    width: 5%;
    border: solid white 1px;
    background-image: linear-gradient(#d3b68d,white);
    border-radius: 25PX;
}


/* SUBMENU */
.submenu a{
    text-decoration:none;
    color: white;
    font-size: 0.8em;
}

.submenu ul{
    margin-left: 8%;
    margin-top: -1%;
    display: flex;
    color: white;
}

.submenu li{
    margin-left: 15.65%;
    list-style: none;
}



h2{
    margin-top: 3%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5{
    font-size: 16px;
}

p{
    max-width: 60%;
    margin-left: 25%;
}

/* SERVICIOS */

.contenido{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    margin-left: 33%;
}
.servicio{
    border: #253243 solid 1px;
    padding: 8%;
    overflow: hidden;
    border-radius: 0.8em;
    position: relative;
    background-size: cover;
    background-position: center center;

}

h3{
    -webkit-text-fill-color: #c98f40;
    -webkit-text-stroke: 0.8px black;
    background-color: blanchedalmond;
    background-image: linear-gradient(to bottom right,  #848a69, blanchedalmond);
    border-radius: 10px;
    position: absolute;
    margin-top: -45%;
    margin-left: -40%;
}
p2{
    -webkit-text-fill-color: #c98f40;
    -webkit-text-stroke: 0.5px black;
    position: absolute;
    margin-top: 40%;
    margin-left: -5%;
    background-color: blanchedalmond;
    background-image: linear-gradient(to bottom right,  #848a69, blanchedalmond);
    border-radius: 10px;
}


    /* MARCA */
.marca{
    border: black 1px solid;
    border-radius: 1em;
    position: absolute;
    margin-left: 83%;
    margin-top: -50%;
    text-align: center;
    background-image: linear-gradient(#c98f40, rgb(231, 196, 131));
    height: 40%;
    width: 14%;
    color: white;
}
.marca h2{
    margin-top: 15%;
    background-color: black;
    border: 1px gray solid;
    border-radius: 1em;
    max-width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25%;
}
.marca hr{
    max-width: 80%;
    margin-left: 10%;
    color: black;
}
.marca ul{
    margin-top: 20%;
    font-size: 1.2em;
    color: black;
}

.marca ul li{
    margin-top: 4%;
}

.marca button{
    margin-top: 20%;
    border-radius: 1em;
    background-color: black;
    color: blanchedalmond;
}
.marca button:hover{
    border-radius: 1em;
    opacity: 80%;
    background-color: black;
    color: blanchedalmond;
}

.marca button::after{
    content: url('../images/PRODUCTOS/carrito.png');
}


/* RITUALES */
.contenidoRitual{
    margin-top: 4%;
    flex-direction: column;
    text-align: center;
}



/* PRODUCTOS */
.contenidoP{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    margin-left: 19%;
}

.contenidoP2{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    margin-left: 31.5%;
}

.contenidoP2 .producto{
    padding: 8%;
}

.producto{
    border: #253243 solid 1px;
    padding: 6%;
    overflow: hidden;
    border-radius: 0.8em;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.contenidoPEditado{
    background-image: linear-gradient(#c98f40, yellow);
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    margin-left: 19%;
}
/* VALORES */
.par{
    background-color: gray;
}

.inpar{
    background-color: wheat;
}

table,td{
    border: black solid 1px;
    margin-left: 40%;
}

/* TRABAJADORES */
.contenidoT{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    margin-left: 37%;
}
.trabajadores{
    border: #253243 solid 1px;
    padding: 20%;
    overflow: hidden;
    border-radius: 0.8em;
    position: relative;
    background-size: cover;
    background-position: center center;
}
h4{
    -webkit-text-fill-color: #c98f40;
    -webkit-text-stroke: 0.5px black;
    position: absolute;
    margin-left: -10%;
    margin-top: 40%;
    background-color: blanchedalmond;
    background-image: linear-gradient(to bottom right,  #848a69, blanchedalmond);
    border-radius: 10px;
}

h5{
    text-align: center;
}

/* PAGINA NOSOTROS */

iframe{
    border-radius: 20px;
    margin-left: 33.5%;
}
.ubi{
    text-align: center;
    background-color:#c98f40;
    border:  #253243 solid 1px;
    border-radius: 10px;
    max-width: 20%;
    margin-left: 40%;
}

/* GALERIA */

.contenidoH{
    margin-left: 30%;

}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}
  
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}
  
ul.slider li img{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
 
ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
  
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
  
.enlaces{
    text-align: center;
    margin: 20px;
}
  
.enlaces li{
    display: inline-block;
    text-align: center;
}
  
.enlaces li .cambiaFoto{
    margin-left: -1350%;
    margin-top: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #c98f40;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}


/* PAGINA HISTORIA */

.contenidoHistoria{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    margin-left: 26.5%;
}
.galeria{
    border: #253243 solid 1px;
    overflow: hidden;
    border-radius: 0.8em;
    position: relative;
    background-size: cover;
    background-position: center center;
}

/* Footer */

footer {
    background-color: rgb(46, 46, 46);
    color: #929292;
    width: 100%;
    height: 17em;
    position: relative;
    bottom: 0;
    display: block;
    margin-top: 3em;
}

.redes,
.avisos,
.nosotros {
    float: left;
    margin-left: 20em;
    padding: 2em;
}

.redes h3 {
    text-align: center;
}

.redes ul {
    list-style: none;
    display: flex;
    margin-top: 1em;
}

.redes li {
    display: inline-block;
    position: relative;
    font-size: 2em;
    padding: 0.3em;
}

.avisos h3 {
    text-align: center;
}

.avisos ul {
    list-style: none;
    margin-top: 1em;
}

.avisos li {
    position: relative;
    font-size: 1em;
    padding: 0.3em;
}

footer hr {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
}

footer .copy {
    text-align: center;
    margin-top: 1em;
}
.redes li a{
    color:#929292 ;
    text-decoration: none;
}